<div id="header">
    <ul class="flex__container">
        <li>Home</li>
        <li>Products</li>
        <li>About Us</li>
    </ul>
    <p id="header__username"></p>
</div>

<script src="/js/header-username.js"></script>